---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="py-1.5">
  <p class="text-sm text-ink-500">{title}</p>
  <p class="mt-0.5 text-xs text-ink-400">
    <slot />
  </p>
</div>
